{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <aside class="col-12 col-md-6">
        <h2>Привет тебе, незнакомец!</h2>
        <p>
          Если ты на этой странице, то значит тебе интересно кто я. Буду рад рассказать о себе!
        </p>
        <p>
          Меня зовут Андрей Хлестов. Я начинающий python-разработчик. Меня всегда увлекало программирование (Pascal, C++, Python), но только недавно я решил это сделать своей профессией. 
          В прошлом работал в информационной безопасности, что позволило мне получить опыт работы в данной сфере и познакомиться с Python.
        </p>
        <p>
          С октября 2022 я работаю python-разработчиком в стартапе, где занимаюсь разработкой ботов (Telegram, Discord) и поддержкой уже запущенных проектов, 
          как например улучшение сервиса для взаимодействия с веб-сайтом и телеграм-ботом (на базе Python, Flask, PostgreSQL) в команде из 4 человек.
        </p>
        <p>
          Я очень ценю возможность обучаться новому и развиваться в профессии. 
          В настоящее время я дополнительно учусь на платформе Яндекс Практикума, чтобы получить еще больше знаний и навыков в разработке.
        </p>
        <p>
          Я уверен, что программирвоание - это моя страсть и буду стремиться к профессиональному развитию и успеху в этой области.
        </p>
      </aside>
      <aside class="col-12 col-md-6">
        <img src="{% static 'img/programer.jpg' %}" alt="Icon proger" width="700" height="450"> 
      </aside>
    </div>

    <hr>

    <div class="row">
      <aside class="col-12 col-md-6">
        <h5>Ссылки:</h5>
        <p>
          <img src="{% static 'img/GitHub.jpg' %}" alt="Icon Git" width="50" height="50"> 
          GitHub: <a href='https://github.com/AndreyKhlestov'> профиль</a>
        </p>
        <p>
          <img src="{% static 'img/HeadHunter_logo.png' %}" alt="Icon Git" width="50" height="50"> 
          HeadHunter: <a href='https://spb.hh.ru/resume/a1f6855aff0b2144200039ed1f43666c796663'> резюме</a>
        </p>
      </aside>

      <aside class="col-12 col-md-6">
        <h5>Контакты для связи</h5>
        <p><img src="{% static 'img/mail.png' %}" alt="Icon mail" width="50" height="50"> Почта: andreih74@gmail.com</p>
        <p><img src="{% static 'img/telegram.jpg' %}" alt="Icon Telegram" width="50" height="50"> Telegram: <a href='https://t.me/AndreyKhlestov'>@AndreyKhlestov</a></p>
      </aside>
    </div> 
  </div>
{% endblock %}
