{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <h2>Стэк технологий</h2>
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Python
          </li>
          <li class="list-group-item">
            Django
          </li>
        </ul>
      </aside>
      
      <article class="col-12 col-md-9">
        <p>
          
          Это один из Pet-проектов для моего портфолио: 
          социальная сеть Yatube с авторизацией, персональными лентами, комментариями и подпиской на авторов.
          Чтобы написать этот проект, мне нужно было:
        </p>

        <li>разобраться в основах HTML и вёрстки для бэкенд-разработчика;</li>
        <li>создать основу для Django-проекта и добавить в него новые приложения;</li>
        <li>применить MVC на практике;</li>
        <li>использовать шаблонизатор Django;</li>
        <li>освоить Django ORM;</li>
        <li>написать тесты;</li>
        <li>задеплоить проект в облако.</li>
      </article>
    </div>
  </div>
{% endblock %}
